{% extends '@LoevgaardDandomainConsignment/layout.html.twig' %}

{% trans_default_domain 'LoevgaardDandomainConsignmentBundle' %}

{% block ldc_content %}
    <h1>{{ 'report.show.heading'|trans({'%id%', report.id }) }}</h1>
    <dl class="dl-horizontal">
        <dt>{{ 'report.property.id'|trans }}</dt>
        <dd>{{ report.id }}</dd>
        <dt>{{ 'report.property.created_at'|trans }}</dt>
        <dd>{{ report.createdAt|date }}</dd>
        <dt>{{ 'report.property.status'|trans }}</dt>
        <dd>{{ report.status }}</dd>
        {% if report.isError() %}
            <dt>{{ 'report.property.error'|trans }}</dt>
            <dd>{{ report.getError() }}</dd>
        {% endif %}
    </dl>

    {% if report.stockMovements.count %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'stock_movement.property.id'|trans }}</th>
                    <th>{{ 'stock_movement.property.created_at'|trans }}</th>
                    <th>{{ 'stock_movement.property.quantity'|trans }}</th>
                    <th>{{ 'product.property.bar_code'|trans }}</th>
                    <th>{{ 'product.property.vendor_number'|trans }}</th>
                    <th>{{ 'product.property.number'|trans }}</th>
                    <th>{{ 'product.property.name'|trans }}</th>
                    <th>{{ 'stock_movement.property.complaint'|trans }}</th>
                    <th>{{ 'stock_movement.property.reference'|trans }}</th>
                    <th style="text-align: right">{{ 'stock_movement.property.unit_price'|trans }}</th>
                    <th style="text-align: right">{{ 'stock_movement.property.total_price'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for stockMovement in report.stockMovements %}
                    <tr>
                        <td>{{ stockMovement.id }}</td>
                        <td nowrap>{{ stockMovement.createdAt|date }}</td>
                        <td>{{ stockMovement.quantity }}</td>
                        <td>{{ stockMovement.product.barCodeNumber ? stockMovement.product.barCodeNumber : 'Tom' }}</td>
                        <td>{{ stockMovement.product.vendorNumber ? stockMovement.product.vendorNumber : 'Tom' }}</td>
                        <td>{{ stockMovement.product.number }}</td>
                        <td>{{ stockMovement.product.translate(26).name }}</td>
                        <td>{{ stockMovement.complaint ? 'boolean.yes'|trans : 'boolean.no'|trans }}</td>
                        <td>{{ stockMovement.reference ? stockMovement.reference : 'empty'|trans }}</td>
                        <td style="text-align: right" nowrap>{{ stockMovement.price|money }}</td>
                        <td style="text-align: right" nowrap>{{ stockMovement.totalPrice|money }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" style="text-align: right;font-size:18px;font-weight:bold">I alt</td>
                    <td style="text-align: right;font-size:18px;font-weight:bold">{{ report.total|money }}</td>
                </tr>
            </tfoot>
        </table>
    {% endif %}
{% endblock %}
